@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url(/CSS/components/header.css);
@import url(/CSS/components/home.css);
@import url(/CSS/global/boilerplate.css);



@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px) ;
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes zoomOut {
    0%{
        transform: scale(1.1);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0%{
        transform: translate(300px, -300px) scale(0) rotate(-45deg) ;
        opacity: 0;
    }

    100%{
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0%{
        right: -40%;
        opacity: 0;
    }

    100%{
        right: -25%;
        opacity: 1;
    }
}